{% extends 'MopaBootstrapBundle::base_sass_3.2.html.twig' %}

{% block head_style %}
    {{ parent() }}
    {% stylesheets filter='?yui_css'
    'bundles/gsupforum/sass/structure.scss'
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
    {% endstylesheets %}
{% endblock head_style %}

{% block navbar %}
    {{ knp_menu_render('GsupForumBundle:Builder:mainMenu') }}
{% endblock navbar %}

{% block page_header %}{% endblock %}

{% block foot_script_assetic %}
    {% javascripts
    '@GsupForumBundle/Resources/public/js/jquery.js'
    '@MopaBootstrapBundle/Resources/public/bootstrap-sass/assets/javascripts/bootstrap/tooltip.js'
    '@MopaBootstrapBundle/Resources/public/bootstrap-sass/assets/javascripts/bootstrap/*.js'
    '@MopaBootstrapBundle/Resources/public/js/mopabootstrap-collection.js'
    '@MopaBootstrapBundle/Resources/public/js/mopabootstrap-subnav.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock foot_script_assetic %}

{%  block footer %}
    <a href="{{ path('gsup_forum_homepage') }}">Forum</a>
{% endblock footer %}